<div id='plugin_terminalstats_snippet_wrapper' data-bind='allowBindings: false'>
    <div id='plugin_terminalstats_snippet' class='plugin-terminalstats-container row-fluid' data-bind='allowBindings: true'>
        <div class="span1" data-bind="attr: {title: sendStats}">Sent:</div>
        <div class="span2 text-right" data-bind="visible: settings.settings.plugins.terminalstats.unit() == 'lines', attr: {title: sendStats}"><span class="plugin-terminalstats-stat" data-bind="text: sendLines"></span>L/s</div>
        <div class="span2 text-right" data-bind="visible: settings.settings.plugins.terminalstats.unit() == 'bytes', attr: {title: sendStats}"><span class="plugin-terminalstats-stat" data-bind="text: sendBytes"></span>B/s</div>
        <div class="span1"><span id="plugin_terminalstats_snippet_spark_send"></span></div>

        <div class="offset4 span1" data-bind="attr: {title: receivedStats}, css: {offset4: settings.settings.plugins.terminalstats.unit() != 'neither', offset8: settings.settings.plugins.terminalstats.unit() == 'neither'}">Recv:</div>
        <div class="span2 text-right" data-bind="visible: settings.settings.plugins.terminalstats.unit() == 'lines', attr: {title: receivedStats}"><span class="plugin-terminalstats-stat" data-bind="text: receivedLines"></span>L/s</div>
        <div class="span2 text-right" data-bind="visible: settings.settings.plugins.terminalstats.unit() == 'bytes', attr: {title: receivedStats}"><span class="plugin-terminalstats-stat" data-bind="text: receivedBytes"></span>B/s</div>
        <div class="span1"><span id="plugin_terminalstats_snippet_spark_received"></span></div>
    </div>
</div>
