<h3>Terminalstats configuration</h3>
<form class="form-horizontal">
    <div class="control-group" title="{{ _('The interval between the throughput measurements')|edq }}">
        <label class="control-label">{{ _('Sampling interval') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" class="input-mini" min="1" data-bind="value: settings.plugins.terminalstats.interval">
                <span class="add-on">s</span>
            </div>
        </div>
    </div>
    <div class="control-group" title="{{ _('The unit to use for display of the raw measurements')|edq }}">
        <label class="control-label">{{ _('Display unit')}}</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="pluginTerminalstatsUnitGroup" value="bytes" data-bind="checked: settings.plugins.terminalstats.unit"> {{ _('B/s') }}
            </label>
            <label class="radio">
                <input type="radio" name="pluginTerminalstatsUnitGroup" value="lines" data-bind="checked: settings.plugins.terminalstats.unit"> {{ _('lines/s') }}
            </label>
            <label class="radio">
                <input type="radio" name="pluginTerminalstatsUnitGroup" value="neither" data-bind="checked: settings.plugins.terminalstats.unit"> {{ _('no display of raw measurements') }}
            </label>
        </div>
    </div>
</form>
